<h1>My Tasks</h1>
<hr>
<% @tasks.each do |task| %>
  <p>
    <input type="checkbox" <%= "checked" if task.completed%>>
    <%= link_to task.title, task_path(task) %>
    <%= link_to delete_task_path(task), method: :delete, data: { confirm: "Are you sure?"} do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </p>
<% end %>
<hr>
<h5><%= link_to '+ Add a new task', new_task_path %></h5>
