// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task_details {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

p {
  padding: 10px;
  margin: 10px;
}
